<% include ./partials/header.ejs %>
<div class="pt-5 mt-3 jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Freeko,</h1>
    <p class="lead"> The Lightning Fast Mini Social Media App.</p>
    <a class="btn btn-primary" href="#">Check Out Now</a>
  </div>
</div>
<div class="container pt-1 pb-5">
  <h1 class="display-5">How Are We Better ?</h1>
  <p class="lead-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam sint dolore necessitatibus inventore tenetur porro beatae laboriosam incidunt, nemo corrupti ad quo illo! Eos impedit ducimus eaque rem vitae ad repellat aut praesentium facere? Ipsa dignissimos accusantium maiores accusamus saepe perferendis labore temporibus, blanditiis distinctio. Delectus, corporis quos reiciendis quibusdam maxime quia iste odit, ratione asperiores excepturi quod, placeat et.</p>
  <a class="btn btn-success" href="#">Let me use this app</a>
</div>
<% include ./partials/footer.ejs %>